@model IEnumerable<OfficeBooking.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (TempData["Error"] is string error)
{
    <div class="alert alert-danger">@error</div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>Wyposażenie</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
                <td>
                    @{
                        var equipmentNames = item.RoomEquipments
                        .Select(re => re.Equipment.Name)
                        .OrderBy(n => n)
                        .ToList();
                    }

                    @if (equipmentNames.Count == 0)
                    {
                        <span class="text-muted">Brak</span>
                    }
                    else
                    {
                        @string.Join(", ", equipmentNames)
                    }
                </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
